venv
.env
__pycache__
.coverage
.pytest_cache
*.ipynb
*.csv
*.html
.DS_Store
.terraform
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup


notes.md
city
listing
page
practise
bristol
london
manchester
birmingham
ner_training/data
base_config.cfg
ner_training/output/model-last
ner_training
model-output