venv
.env
__pycache__
.coverage
.pytest_cache
*.ipynb
*.csv
*.html
.DS_Store
.terraform
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
dashboard/.streamlit/secrets.toml

notes.md
city
listing
page
practise
bristol
london
manchester
birmingham
ner_training/data
ner_training/output
base_config.cfg
model-output
old_archive
archive
sandbox
sql_queries.md
dashboard/practise.py